{% extends 'base.html.twig' %}

{% block body %}
    <form method="get">
        <div class="form-group">
            <label for="image" class="form-label">{{ msg('image-url') }}</label>
            <input name="image" id="image" class="form-control" placeholder="https://upload.wikimedia.org/" value="{{ app.request.get('image') }}" required />
            <p class="help-block">{{ msg( 'image-url-help' ) }}</p>
        </div>
        <ol>
            {# Add an additional blank language, to create an extra form field. #}
            {% for lang_num,lang in langs|merge(['']) %}
                {# @TODO Use a better system of selecting and displaying multiple languages. #}
                <li>
                    <div class="form-group">
                        <label for="lang-{{ lang_num }}" class="form-label">{{ msg('language-code') }}</label>
                        <input name="langs[]" id="lang-{{ lang_num }}" class="form-control" value="{{ lang }}" />
                        <p class="help-block">{{ msg( 'language-code-help' ) }}</p>
                    </div>
                </li>
            {% endfor %}
        </ol>
        <div class="form-group">
            <label for="engine" class="form-label">{{ msg('engine') }}</label>
            <select name="engine" id="engine" class="form-control">
                <option value="google" {% if engine == 'google' %}selected{% endif %}>{{ msg('engine-name-google') }}</option>
                <option value="tesseract" {% if engine == 'tesseract' %}selected{% endif %}>{{ msg('engine-name-tesseract') }}</option>
            </select>
            <p class="help-block">{{ msg( 'engine-help' ) }}</p>
        </div>
        <div class="form-group">
            <input type="submit" value="{{ msg( 'submit' ) }}" class="btn btn-info" />
        </div>
    </form>

    {% if text is defined %}
        <div class="row">
            <div class="col-md-6">
                <img class="img-responsive" src="{{ app.request.get('image') }}" alt="{{ msg('img-alt-text') }}" />
            </div>
            <div class="col-md-6">
                <textarea class="form-control" rows="{{ text|textarea_rows }}" id="text">{{ text }}</textarea>
                <p class="help-block">
                    <button id="copy-button" class="btn btn-info" data-copied-text="{{ msg('copied-to-clipboard') }}">{{ msg( 'copy-to-clipboard' ) }}</button>
                </p>
            </div>
        </div>
    {% endif %}
{% endblock %}
