{% extends 'base.html.twig' %}

{% block body %}
    <form method="get">
        <fieldset>
            <legend>{{ msg('form-heading') }}</legend>
            <div class="form-group">
                <label for="image">{{ msg('image-url') }}</label>
                <input name="image" id="image" class="form-control" type="url" value="{{ app.request.get('image') }}" required />
                <p class="help-block">{{ msg( 'image-url-help', [image_hosts] ) }}</p>
            </div>
            <div class="form-group">
                <label>{{ msg('engine') }}</label>
                <div class="radio">
                    <label>
                        <input type="radio" name="engine" value="google" {% if engine == 'google' %}checked{% endif %} />
                        {{ msg('engine-name-google') }}
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="engine" value="tesseract" {% if engine == 'tesseract' %}checked{% endif %} />
                        {{ msg('engine-name-tesseract') }}
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label for="lang">{{ msg('language-code') }}</label>
                <select id="lang" class="form-control" name="langs[]" multiple data-placeholder="{{ msg('langs-placeholder') }}">
                    {% for lang in available_langs %}
                        <option value="{{ lang }}" {% if lang in langs %}selected{% endif %}>
                            {{- lang }}{% if ocr_lang_name(lang) is not empty %} &ndash; {{ ocr_lang_name(lang) }}{% endif -%}
                        </option>
                    {% endfor %}
                </select>
            </div>
        </fieldset>

        {% include '_tesseract_options.html.twig' with {engine: engine} %}

        <div class="form-group submit-btn">
            <input type="submit" value="{{ msg( 'submit' ) }}" class="btn btn-info" />
        </div>
    </form>

    {% if text is defined %}
        <hr/>
        <div class="image-row-outer">
            <div class="image-row">
                <div class="image">
                    <img id="source-image" class="img-responsive" src="{{ app.request.get('image') }}" alt="{{ msg('img-alt-text') }}" />
                </div>
                <div class="text">
                    <textarea class="form-control" rows="{{ text|textarea_rows }}" id="text">{{ text }}</textarea>
                </div>
            </div>
            <button class="btn btn-info copy-button" data-copied-text="{{ msg('copied-to-clipboard') }}">{{ msg( 'copy-to-clipboard' ) }}</button>
        </div>
    {% endif %}
{% endblock %}
